.button {
    display: flex;
    justify-content: center;

    .button-default {
        position: relative;
        background-color: $primary;
        padding: 15px 30px;
        border: none;
        border-radius: 50px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }

        &.white {
            background-color: $white;
        }

        &.primary {
            background-color: $primary;
        }

        &.black {
            background-color: $black;
        }

        &.light {
            background-color: $gray-4;
        }

        &.transparent {
            background-color: transparent;
        }

        &.btn-default-rounded {
            padding: 16px;
        }
        
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }

    .button-gold {
        background: #f6cd7e 0 0 no-repeat padding-box;
        border: 1px solid #f6cd7e;
        border-radius: 3px;
        color: #121212;
        display: flex;
        font-family: 'BenchNine', sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.7px;
        margin-top: 20px;
        opacity: 1;
        outline: 1px solid #f6cd7e;
        outline-offset: 2px;
        padding: 10px 15px;
        text-transform: uppercase;
        transition: all .35s ease-in-out;
        width: -moz-fit-content;
        width: fit-content;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: #f6cd7e;;
        }
    }

    .button-dark {
        background-color: transparent;
        border: 1px solid $secundary;
        border-radius: 3px;
        color: $secundary;
        display: flex;
        font-family: 'BenchNine', sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.7px;
        margin-top: 20px;
        opacity: 1;
        padding: 10px 15px;
        text-transform: uppercase;
        transition: all .35s ease-in-out;
        width: -moz-fit-content;
        width: fit-content;
        text-decoration: none;

        &:hover {
            background-color: $secundary;
            color: $white;;
        }
    }
}