.section {
    .section-banner {
        .banner-image {
            height: 100vh;
            background-position: top center;
            background-size: cover;
            position: relative;

            @media screen and (max-width: 991px) {
                background-position: top left;
            }
            // background-attachment: fixed;

            &:after {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                // background: url("../images/topgradient.png") bottom repeat-x, linear-gradient(rgba(1,38,26,0) 70%, rgba(1,35,24,1) 90%);
                background: linear-gradient(rgba(1,38,26,0) 70%, rgba(1,35,24,1) 90%);
                content: "";
                z-index: 1;
            }

            .container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 991px) {
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0;
                }

                .banner-text {
                    color: #f6cd7e;
                    text-align: center;

                    @media screen and (max-width: 991px) {
                        padding: 0 15px;
                    }

                    h1 {
                        font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 400;
                        letter-spacing: 0;
                        line-height: 1;
                        padding-bottom: 30px;
                        text-align: center;
                        font-size: 92px;
                        text-transform: uppercase;

                        @media screen and (max-width: 991px) {
                            font-size: 42px;
                            text-shadow: 0px 0px 20px rgba(0,0,0,1);
                        }
                    }

                    p {
                        font-size: 21px;
                        letter-spacing: 4.2px;
                        line-height: 21px;
                        text-transform: uppercase;
                        font-family: 'BenchNine', Verdana, Geneva, Tahoma, sans-serif;

                        @media screen and (max-width: 991px) {
                            font-size: 14px;
                            text-shadow: 0px 0px 20px rgba(0,0,0,1);
                        }
                    }
                }
            }
        }
    }

    .section-about {
        height: 500px;
        background: rgb(1,35,24);
        background: linear-gradient(180deg, rgba(1,35,24,1) 0%, rgba(31,128,83,1) 100%);
        background-position: center;
        background-size: cover;

        .text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #f6cd7e;
            text-align: center;

            h2 {
                font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 56px;
                text-transform: uppercase;
                margin-bottom: 32px;

                @media screen and (max-width: 991px) {
                    font-size: 32px;
                }
            }
    
            p {
                font: normal normal normal 16px/24px 'spartan_regular';
                line-height: 1.4;
                width: 600px;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                text-align: center;
                letter-spacing: 0px;
                color: #FFF6D7;
                opacity: 1;

                a {
                    color: #FFF6D7;
                    font-weight: 500;
                }
            }
        }
    }

    .section-tiktok {
        padding: 48px 0;
        background: #012318;
        background: linear-gradient(180deg, rgba(1,35,24,1) 0%, rgba(31,128,83,1) 100%);
        background-position: center;
        background-size: cover;
        color: #f6cd7e;
        text-align: center;
        text-decoration: none;

        .content-text {
            margin-bottom: 24px;

            &.height {
                height: 68px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .tiktok-video {
            text-decoration: none;
        }

        h3 {
            font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 56px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 32px;
            }
        }

        .img-thumbnail {
            background-position: center top;
            background-size: cover;
            margin-bottom: 32px;
            border-radius: 8px;

            img {
                max-width: 100%;
                border-radius: 8px;
            }
        }

        p {
            font-family: 'spartan_regular', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #FFF6D7;

            @media screen and (max-width: 991px) {
                font-size: 12px;
            }

            &.title-video {
                font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 24px;
                color: #f6cd7e;

                @media screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }
    }

    .section-contact {
        height: 500px;
        background: #F7F0E2;
        background-position: center;
        background-size: cover;
        
        .text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #012319;
            text-align: center;

            h3 {
                font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 56px;
                text-shadow: 0 8px 3px rgba(0,0,0,.2);
                text-transform: uppercase;
                margin-bottom: 32px;

                @media screen and (max-width: 991px) {
                    font-size: 32px;
                }
            }
    
            p {
                font-family: 'spartan_regular', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 24px;
                letter-spacing: 4.2px;
                line-height: 1.4;

                @media screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }
    }

    .section-faq {
        .faq-title {
            background: #012318;
            background: linear-gradient(180deg, rgba(1,35,24,1) 0%, rgba(31,128,83,1) 100%);
            padding: 56px 0;

            h3 {
                font-family: 'velour-regular', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 56px;
                text-shadow: 0 8px 3px rgba(0,0,0,.2);
                text-transform: uppercase;
                margin-bottom: 0;
                color: #f6cd7e;
                text-align: center;

                @media screen and (max-width: 991px) {
                    font-size: 32px;
                }
            }
        }

        .faq {
            padding: 56px 0;
            background: #F7F0E2;
        }
    }
}

.field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    position: absolute;
    bottom: 24px;
    z-index: 100;

	.mouse {
		width: 40px;
		height: 70px;
		border: 3px solid #FFF;
		border-radius: 60px;
		position: relative;
	
		&::before {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #FFF;
			border-radius: 50%;
			opacity: 1;
			animation: wheel 2s infinite;
			-webkit-animation: wheel 2s infinite;
		}
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 45px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 45px;
	}
}