@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap');

@import "vendor/_variables.scss";
@import "vendor/_font-face.scss";
@import "vendor/bootstrap/bootstrap.scss";
@import "vendor/bootstrap/bootstrap-grid.scss";
@import "vendor/bootstrap/bootstrap-reboot.scss";
@import "vendor/bootstrap/bootstrap-utilities.scss";
@import "vendor/reset";

@import "_button.scss";
@import "_header.scss";
@import "_home.scss";
@import "_footer.scss";

.bench {
	font-family: 'BenchNine', sans-serif;
}

.pt-serif {
	font-family: 'PT Serif', serif;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.primary {
    color: $primary;
}